@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Menu Admin</h1>
    <ol>
        <li>
            @Html.ActionLink("Category","Index","Category")
        </li>
        <li>
            @Html.ActionLink("User role","Index","User")
        </li>
        <li>
            @*@Html.ActionLink("qw")*@
        </li>
    </ol>
</div>

