@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Menu seller</h1>
    <ol>
        <li>
            @Html.ActionLink("My products","Index","Product")
        </li>
        <li>My orders
            @*@Html.ActionLink("User role","Index","User")*@
        </li>
        <li>
            @*@Html.ActionLink("qw")*@
        </li>
    </ol>
</div>

